body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, "hoonmakdae", "rounder", "music";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family:hoonmakdae;
  src:url("./fonts/HoonMakdae.ttf") format("truetype");
}
@font-face {
  font-family: rounder;
  src:url("./fonts/GmarketSansTTFBold.ttf") format("truetype");
}
@font-face {
  font-family: music;
  src:url("./fonts/woman.ttf") format("truetype");
}
@font-face {
  font-family : credit;
  src:url("./fonts/HSBomBaram2.0.ttf") format("truetype");
}
@font-face {
  font-family : question;
  src:url("./fonts/Lilly__.ttf") format("truetype");
}
@font-face {
  font-family : ques;
  src:url("./fonts/DXShnm-KSCpc-EUC-H.ttf") format("truetype");
}
@font-face {
  font-family : rest;
  src:url("./fonts/SunBatang-Light.ttf") format("truetype");
}
* {
  font-weight: 100;
  color: #FFFFFF;
}
body {
  background-color: #181717;
  justify-content: center;
  align-items: center;
}
.container {
  width:100%;
  margin:0 auto;
}

.resulttype {
  font-family: music;
  text-align: center;
  font-size: x-large;
}

.description {
  font-family: music;
  text-align:justify;
  margin-bottom: -5%;
  margin-top: -1.5%;
}

h2 {
  font-family: credit;
  font-size: xx-large;
  font-weight:lighter;
  text-align: center;
  line-height: 140%;
}

p {
  font-family: music;
  text-align: center;
  line-height: 150%;
}
.app {
  justify-content: center;
  margin:auto;
  background-color: #181717;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 80%;
  min-height: 400px;
  height: 100%;
  border-radius: 15px;
  padding: 15px;
  max-width: 1028px;
}
.Result {
  font-size: xx-large;
  font-family: rounder;
  font-weight: bolder;
  text-align: center;
  margin-top: -5%;
}
.image {

  width: 100%;
  height: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
}
.score-section {
  font-size: 80%;
  align-items: center;
}
/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  margin-top: -10%;
  width: 100%;
  position: relative;
}

.result_go {
  font-size : larger;
  margin-top: 25%;
}
.question-count {
  text-align: center;
  margin-top: 5%;
  font-family: question;
  font-size: 75%;
  line-height: 120%;
}
.question-text {
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  margin-bottom: 12px;
}
.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}
/* ANSWERS/RIGHT SECTION */
.answer-section {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cocktailimage {
  max-width: 50px;
  width:8%;
  height: 8%;
}
button {
  font-family: rest;
  text-align: center;
  align-self: center;
  width: 95%;
  height: 200%;
  font-size: 90%;
  color: #DEDEDE;
  font-weight: 600;
  background-color: #181717;
  border-radius: 15px;
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  border: solid #726458;
  cursor: pointer;
  margin-top: 5%;
}

button:focus {
  outline: none;
}
button svg {
  margin-right: 5px;
}
.link {
  font-family: credit;
  text-decoration: none;
  font-size: medium;
  text-align: center;
  align-self: center;
}
header {
  width: 100%;
  font-size: 50%;
  min-height: 100%;
  height: 75px;
  background: #726458;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
hr {
  width:100%;
  border-top: 50% dotted #181717;
  margin-top: 5%;
}
header > h2 {
  margin-left:20px;
}
footer {
  font-family: credit;
  font-weight: lighter;
  font-size : 70%;
  text-align: center;
  margin-bottom: 10%;
  line-height: 120%;

}
button:hover {
  background-color: #555E7D;
}

/* animation */
.homeTransition-appear{
  opacity: 0;
}
 
.homeTransition-appear.homeTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}

.ques {
  font-family: ques;
  line-height: 200%;
  font-size: small;
  font-weight: lighter;
}